{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Tasks{% endblock %}</h1>
    {% if g.user %}
        <a class="action" href="{{ url_for('tasks.submit') }}">New</a>
    {% endif %}
{% endblock %}

{% block content %}
    {% for task in tasks %}
        <article class="task">
            <h1 title="{{ task['task_name'] }}">{{ task['task_name'] }}</h1>
            <span class="about" title="by {{ task['requester_name'] }} on {{ task['time_submitted'].strftime('%Y-%m-%d %H:%M:%S') }}">
                By {{ task['requester_name'] }} on {{ task['time_submitted'].strftime('%Y-%m-%d %H:%M:%S') }}
            </span>
            <span class="description" title="{{ task['description'] }}">{{ task['description'] }}</span>
            <span class="extra-notes" title="{{ task['extra_notes'] }}">{{ task['extra_notes'] }}</span>

            {% if g.user['user_id'] == task['requester_id'] %}
                <a class="action" href="{{ url_for('tasks.update', task_id=task['task_id']) }}">Edit</a>
            {% endif %}
        </article>
        
        {% if not loop.last %}
            <hr>
        {% endif %}
    {% endfor %}
    
{% endblock %}