{% extends 'base.html' %}

{% block header %}
    <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
    <form method="post">
        <label for="name">Username</label>
        <input name="name" id="name" required>
        <label for="password">Password</label>
        <input type="password" name="password" id="password" required>
        
        <fieldset>
            <legend for="region">Region</legend>
            <label for="region1">
                <input type="radio" id="region1" name="region" value="1" required>
                Region 1
            </label>
            <label for="region2">
                <input type="radio" id="region2" name="region" value="2">  
                Region 2
            </label>
        </fieldset>

        <fieldset>
            <legend for="location">Location</legend>
            <label for="location1">
                <input type="radio" id="location1" name="location" value="1" required>
                Location 1
            </label>
            <label for="location2">
                <input type="radio" id="location2" name="location" value="2">
                Location 2
            </label>
            <label for="location3">
                <input type="radio" id="location3" name="location" value="3">
                Location 3
            </label>
        </fieldset>

        <input type="submit" value="Register">
    </form>
{% endblock %}