:root {
  --main-font-family: "Inter";
  --bg-color: white;
  /* --bg-color: #f6f4f4; */
  --secondary-bg-color: rgb(227, 224, 224);
  /* --accent-color: #377ba8; */
  --accent-color: black;
}

html {
  font-family: var(--main-font-family), sans-serif;
  background: var(--bg-color);
  padding: 1rem;
}

body {
  /* max-width: 960px; */
  margin: 0 auto;
  background: white;
}

h1 {
  font-family: var(--main-font-family), serif;
  color: var(--accent-color);
  margin: 1rem 0;
}

h2 {
  font-family: var(--main-font-family), serif;
  color: var(--accent-color);
  font-size: medium;
  margin: 1rem 0;
}

a {
  color: var(--accent-color);
}

hr {
  border: none;
  border-top: 1px solid lightgray;
}

nav {
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}

nav h1 {
  flex: auto;
  margin: 0;
}

nav h1 a {
  text-decoration: none;
  padding: 0.25rem 0.5rem;
}

nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li a,
nav ul li span,
header .action {
  display: block;
  padding: 0.5rem;
  list-style-type: none;
}

header h1 {
  padding: 0.1rem 0;
}

#new-task {
  color: green;
}

.content {
  padding: 0 1rem 1rem;
}

.content > header {
  border-bottom: 1px solid lightgray;
  display: flex;
  align-items: flex-end;
}

.content > header h1 {
  flex: auto;
  margin: 1rem 0 0.25rem 0;
}

.flash {
  margin: 1em 0;
  padding: 1em;
  background: #cae6f6;
  border: 1px solid var(--accent-color);
}

.content:last-child {
  margin-bottom: 0;
}

.content form {
  margin: 1em 0;
  display: flex;
  flex-direction: column;
}

.content label {
  font-weight: bold;
  margin-bottom: 0.5em;
}

.content input,
.content textarea {
  margin-bottom: 1em;
}

.content textarea {
  /* min-height: 12em; */
  resize: vertical;
}

input.danger {
  color: #cc2f2e;
}

input[type="submit"] {
  align-self: start;
  /* min-width: 10em; */
}

.region-tasks-label {
  font-size: 1.2rem;
  margin-bottom: 0;
  border-bottom: 1px solid #ddd;
  font-weight: bold;
}

.task {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0;
  border-bottom: 1px solid #ddd;
  flex-wrap: nowrap; 
  overflow: hidden; 
}

.task h1,
.task .about,
.task .description,
.task .project-number {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.task h1, 
.about,
.project-number{
  font-size: 0.95em;
  flex: 1 1 20%;
  min-width: 150px;
  color: #555;
}

.task h1 {
  flex: 1 1 15%; 
  min-width: 100px;
}

.task .description {
  flex: 2 1 25%;
  min-width: 200px;
}

.task .project-number {
  flex: 1 1 20%;
  min-width: 150px;
  /* font-style: italic; */
  /* color: gray; */
}

.task-completed {
  background: #f0f0f0;
  color: #555;
  font-style: italic;
  opacity: 0.7;
}

.task-rejected {
  background: #fdf0f0;
  color: #a33;
  font-style: italic;
  opacity: 0.7;
}

.task-active {
  background: #fff;
  color: #000;
}

.task .action-edit, .action-box {
  margin-left: auto; /* push edit button to the far right */
  white-space: nowrap;
  flex: 0 0 auto; /* don't grow or shrink */
}

.task-status-label {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.task-status-label p {
  font-size: small;
  padding-right: 5px;
}

.action-box {
  display: flex;
  flex-direction: row;
}

.action-complete, .action-reject, .action-reactivate {
  color: green;
  cursor: pointer;
  background: transparent;
  border: none !important;
  padding: none;
}

.action-reject {
  color: red;
}

.submit-task {
  display: flex;
  align-items: center;
}

.submit-task form {
  width: stretch;
}

.submit-task-wrapper {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  padding: 0.5rem 0;
}

.submit-task-wrapper input::placeholder,
.submit-task-wrapper textarea::placeholder,
.submit-task-wrapper input[type="submit"] {
  font-family: var(--main-font-family), serif;
}

.submit-task-wrapper input, 
.submit-task-wrapper textarea {
  flex-grow: 2;
  min-height: 2rem;
}

.submit-task-wrapper input[type="submit"] {
  flex-grow: 0;
  height: 2rem;
  min-width: 2rem;
}

.slots-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  justify-content: space-between;
  margin-top: 10px;
}

.region1-slots, .region2-slots{
  border: 1px solid;
  border-radius: 50px;
  border-color: lightgrey;
  padding: 5px 15px; /*top right bottom left, top right+left bottom, top+bottom right+left*/
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
}

.slots-button-minus, .slots-button-plus {
  background-color: white;
  width: 40px;
  height: 40px;
  border: 1px solid;
  border-color: green;
  border-radius: 20px;
  font-size: x-large;
  font-weight: 100;
  color: green;

  cursor: pointer;
}

.slots-button-minus {
  border-color: red;
  color: red;
}

.slots-button-plus:hover {
  background-color: green;
  color: white;
}

.slots-button-minus:hover {
  background-color: red;
  color: white;
}